/* App.css */
.colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color, #FFFFFF); /* Default background color */
  transition: background-color 0.5s ease-in-out;
}

h2 {
  font-family: fantasy;
  font-size: 30px;
  color: #6b36dc; /* Text color */
  margin-bottom: 16px;
}

.button {
  background-color: #7b2160; /* Button background color */
  color: white; /* Button text color */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #583a51; /* Button background color on hover */
}


.button-text-color {
  color: #fea2cb; /* Change the button's text color here */
}